.container {
  display: flex;
  overflow: hidden;
  align-items: center;
  width: 100%;
  height: 7%;
  background-color: #3D284F;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 400;
  justify-content: space-between;
  background-color: rgba(61, 40, 79, 0.7);
}
.container .hover-text {
  position: relative;
  align-self: center;
  padding: 10px 20px;
  width: 6.5rem;
  background-color: #E3CEDD;
  text-align: center;
  margin-right: auto;
}
.container .loginButton {
  width: 105px;
  height: 35px;
  border-radius: 1rem;
  padding: 0;
  border: 1rem;
  background: #B790C2;
  color: #E3CEDD;
  font-size: medium;
  background-color: #714e7d;
}
.container .loginButton:hover {
  background-color: #3D284F;
  color: #B790C2;
}
@media (max-width: 768px) {
  .container .container {
    padding: 0 10px;
  }
  .container .container .hover-text {
    padding: 10px 10px;
  }
}

.header_BOO {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: auto;
  background-color: #fff;
  color: #3D284F;
}
.header_BOO .logo__image {
  max-width: 60px;
}
.header_BOO .search {
  display: flex;
  align-items: center;
}
.header_BOO .search .search__input {
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  max-width: 100px;
}
.header_BOO .search .search__button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #714E7D;
  border: none;
  border-color: #3D284F;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}
.header_BOO .nav {
  display: flex;
  position: relative;
}
.header_BOO .nav .nav__list {
  list-style-type: none;
  display: flex;
}
.header_BOO .nav .nav__list .nav__item {
  margin-right: 20px;
}
.header_BOO .nav .nav__list .nav__item .a {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.header_BOO .nav .nav__item_special:hover .nav_dropdown {
  text-decoration: none;
  display: block;
  padding-left: 0px;
}
.header_BOO .nav .nav__item_special {
  list-style-type: none;
  align-items: center;
  align-self: flex-start;
  position: relative;
  text-decoration: none;
  font-size: 25px;
}
.header_BOO .nav .nav__item_special .nav_dropdown {
  list-style-type: none;
  width: 100%;
  background: #B790C2;
  position: absolute;
  z-index: 999;
  display: none;
  left: 0px;
  text-decoration: none;
  font-size: 15px;
}
.header_BOO .nav .nav__item_special .nav_dropdown .li {
  display: block;
}
.header_BOO .nav .nav__item_special .nav_dropdown .li .nav__link_menu {
  text-decoration: none;
  color: #B790C2;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  padding: 10px;
}
@media screen and (max-width: 748px) {
  .header_BOO .search {
    flex-direction: column;
  }
  .header_BOO .search .search__input {
    margin-bottom: 5px;
    width: auto;
  }
}

.friend__container .friend__container__profile {
  display: flex;
  align-items: center;
  padding: 30px;
  border-bottom: 1px solid #B790C2;
}
.friend__container .friend__container__profile .friend__profile__image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.friend__container .friend__container__profile .profile__container {
  flex: 1;
  font-size: 16px;
}
.friend__container .friend__container__profile .profile__container .profile__name {
  display: flex;
  font-weight: bold;
  margin-bottom: 2px;
}
.friend__container .friend__container__profile .profile__container .profile__name .name {
  padding-right: 5px;
}

.header {
  background-color: #D0B9D4;
  padding: 10px 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 0;
}

.logo {
  max-width: 100px;
  height: auto;
}

.login-button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

/* Body styles */
body.SignUp {
  z-index: 0;
  margin: 0 auto;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  background-color: #B790C2;
  height: 100vh;
}

.SignUp::after {
  background: url("/BookReviewer/pictures/SignUpPage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  content: "";
  opacity: 0.4;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.BigContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 8rem;
}

.NameContainer {
  text-align: center;
  color: #714E7D;
  margin-bottom: 50px;
  margin-top: 0;
  margin-right: 10%;
}

.Name {
  font-size: 30px;
  font-weight: 600;
}

.Saying {
  font-size: 20px;
  font-weight: 600;
}

.SignUpContainer {
  background-color: #fff;
  border-radius: 45px;
  padding: 30px 40px;
  width: 30%;
  margin-top: 0;
}

.SignupWriting {
  text-align: center;
  margin-bottom: 20px;
  color: #714E7D;
}

.input-box {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

input[type=text],
input[type=password],
input[type=email] {
  width: 100%;
  padding: 10px;
  border: 2px solid #B790C2;
  border-radius: 30px;
  outline: none;
}

input::-moz-placeholder {
  color: #714E7D;
  padding-left: 10px;
}

input::placeholder {
  color: #714E7D;
  padding-left: 10px;
}

.remember {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.remember-button {
  font-size: 14px;
}

.signup-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup-button {
  padding: 10px 20px;
  border: none;
  border-radius: 40px;
  background-color: #714E7D;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.login-link {
  font-size: 14px;
  display: flex;
  align-items: center;
}

.login-link-text {
  margin-right: 10px;
}

.login-link-ref {
  text-decoration: underline;
  color: #714E7D;
  cursor: pointer;
}

h3 {
  color: #714E7D;
}

@media screen and (max-width: 768px) {
  .NameContainer {
    margin-bottom: 20px;
  }
  .SignUpContainer {
    width: 80%;
  }
  .BigContainer {
    flex-direction: column;
    align-items: center;
  }
  .login-link {
    margin-top: 10px;
  }
}/*# sourceMappingURL=style.css.map */