.container {
  display: flex;
  overflow: hidden;
  align-items: center;
  width: 100%;
  height: 7%;
  background-color: #3D284F;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 400;
  justify-content: space-between;
  background-color: rgba(61, 40, 79, 0.7);
}
.container .hover-text {
  position: relative;
  align-self: center;
  padding: 10px 20px;
  width: 6.5rem;
  background-color: #E3CEDD;
  text-align: center;
  margin-right: auto;
}
.container .loginButton {
  width: 105px;
  height: 35px;
  border-radius: 1rem;
  padding: 0;
  border: 1rem;
  background: #B790C2;
  color: #E3CEDD;
  font-size: medium;
  background-color: #714e7d;
}
.container .loginButton:hover {
  background-color: #3D284F;
  color: #B790C2;
}
@media (max-width: 768px) {
  .container .container {
    padding: 0 10px;
  }
  .container .container .hover-text {
    padding: 10px 10px;
  }
}

.header_BOO {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: auto;
  background-color: #fff;
  color: #3D284F;
}
.header_BOO .logo__image {
  max-width: 60px;
}
.header_BOO .search {
  display: flex;
  align-items: center;
}
.header_BOO .search .search__input {
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  max-width: 100px;
}
.header_BOO .search .search__button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #714E7D;
  border: none;
  border-color: #3D284F;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}
.header_BOO .nav {
  display: flex;
  position: relative;
}
.header_BOO .nav .nav__list {
  list-style-type: none;
  display: flex;
}
.header_BOO .nav .nav__list .nav__item {
  margin-right: 20px;
}
.header_BOO .nav .nav__list .nav__item .a {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.header_BOO .nav .nav__item_special:hover .nav_dropdown {
  text-decoration: none;
  display: block;
  padding-left: 0px;
}
.header_BOO .nav .nav__item_special {
  list-style-type: none;
  align-items: center;
  align-self: flex-start;
  position: relative;
  text-decoration: none;
  font-size: 25px;
}
.header_BOO .nav .nav__item_special .nav_dropdown {
  list-style-type: none;
  width: 100%;
  background: #B790C2;
  position: absolute;
  z-index: 999;
  display: none;
  left: 0px;
  text-decoration: none;
  font-size: 15px;
}
.header_BOO .nav .nav__item_special .nav_dropdown .li {
  display: block;
}
.header_BOO .nav .nav__item_special .nav_dropdown .li .nav__link_menu {
  text-decoration: none;
  color: #B790C2;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  padding: 10px;
}
@media screen and (max-width: 748px) {
  .header_BOO .search {
    flex-direction: column;
  }
  .header_BOO .search .search__input {
    margin-bottom: 5px;
    width: auto;
  }
}

.friend__container .friend__container__profile {
  display: flex;
  align-items: center;
  padding: 30px;
  border-bottom: 1px solid #B790C2;
}
.friend__container .friend__container__profile .friend__profile__image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.friend__container .friend__container__profile .profile__container {
  flex: 1;
  font-size: 16px;
}
.friend__container .friend__container__profile .profile__container .profile__name {
  display: flex;
  font-weight: bold;
  margin-bottom: 2px;
}
.friend__container .friend__container__profile .profile__container .profile__name .name {
  padding-right: 5px;
}

.container {
  display: flex;
  overflow: hidden;
  align-items: center;
  width: 100%;
  height: 7%;
  background-color: #3D284F;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 400;
  justify-content: space-between;
  background-color: rgba(61, 40, 79, 0.7);
}
.container .hover-text {
  position: relative;
  align-self: center;
  padding: 10px 20px;
  width: 6.5rem;
  background-color: #E3CEDD;
  text-align: center;
  margin-right: auto;
}
.container .loginButton {
  width: 105px;
  height: 35px;
  border-radius: 1rem;
  padding: 0;
  border: 1rem;
  background: #B790C2;
  color: #E3CEDD;
  font-size: medium;
  background-color: #714e7d;
}
.container .loginButton:hover {
  background-color: #3D284F;
  color: #B790C2;
}
@media (max-width: 768px) {
  .container .container {
    padding: 0 10px;
  }
  .container .container .hover-text {
    padding: 10px 10px;
  }
}

.header_BOO {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: auto;
  background-color: #fff;
  color: #3D284F;
}
.header_BOO .logo__image {
  max-width: 60px;
}
.header_BOO .search {
  display: flex;
  align-items: center;
}
.header_BOO .search .search__input {
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  max-width: 100px;
}
.header_BOO .search .search__button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #714E7D;
  border: none;
  border-color: #3D284F;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}
.header_BOO .nav {
  display: flex;
  position: relative;
}
.header_BOO .nav .nav__list {
  list-style-type: none;
  display: flex;
}
.header_BOO .nav .nav__list .nav__item {
  margin-right: 20px;
}
.header_BOO .nav .nav__list .nav__item .a {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.header_BOO .nav .nav__item_special:hover .nav_dropdown {
  text-decoration: none;
  display: block;
  padding-left: 0px;
}
.header_BOO .nav .nav__item_special {
  list-style-type: none;
  align-items: center;
  align-self: flex-start;
  position: relative;
  text-decoration: none;
  font-size: 25px;
}
.header_BOO .nav .nav__item_special .nav_dropdown {
  list-style-type: none;
  width: 100%;
  background: #B790C2;
  position: absolute;
  z-index: 999;
  display: none;
  left: 0px;
  text-decoration: none;
  font-size: 15px;
}
.header_BOO .nav .nav__item_special .nav_dropdown .li {
  display: block;
}
.header_BOO .nav .nav__item_special .nav_dropdown .li .nav__link_menu {
  text-decoration: none;
  color: #B790C2;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  padding: 10px;
}
@media screen and (max-width: 748px) {
  .header_BOO .search {
    flex-direction: column;
  }
  .header_BOO .search .search__input {
    margin-bottom: 5px;
    width: auto;
  }
}

.friend__container .friend__container__profile {
  display: flex;
  align-items: center;
  padding: 30px;
  border-bottom: 1px solid #B790C2;
}
.friend__container .friend__container__profile .friend__profile__image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.friend__container .friend__container__profile .profile__container {
  flex: 1;
  font-size: 16px;
}
.friend__container .friend__container__profile .profile__container .profile__name {
  display: flex;
  font-weight: bold;
  margin-bottom: 2px;
}
.friend__container .friend__container__profile .profile__container .profile__name .name {
  padding-right: 5px;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.block_container {
  position: fixed;
  z-index: 400;
  display: block;
  background-color: #fff;
  margin: 0px;
  padding: 0px;
  margin-inline: auto;
  min-height: auto;
}
.block_container .feed_container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  z-index: 450;
  width: 100vw;
  height: 100vh;
  background-color: #e3cedd;
}
.block_container .feed_container .feed_container_side {
  z-index: 460;
  width: 27%;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 70px;
  padding-bottom: 0px;
  background-color: #fff;
}
.block_container .feed_container .feed_container_side .profile {
  text-align: center;
  overflow: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block_container .feed_container .feed_container_side .profile .profile__image {
  max-width: calc(100% - 40px);
  min-height: auto;
  margin-bottom: 20px;
  border: 4px solid #714E7D;
}
@media screen and (max-width: 600px) {
  .block_container .feed_container .feed_container_side .profile .profile__image {
    width: calc(100% - 2px);
    max-width: calc(100% - 2px);
  }
}
.block_container .feed_container .feed_container_side .profile .group__list {
  max-width: 300px;
  overflow: auto;
  padding-left: 0;
  font-size: large;
  font-weight: 400;
  list-style-type: none;
}
.block_container .feed_container .feed_container_side .profile .group__list .group__item {
  padding-bottom: 1rem;
  padding: 0 1rem;
  margin-bottom: 1rem;
  background-color: #e3cedd;
  text-align: center;
  border-radius: 1rem;
}
.block_container .feed_container .feed_container_side .profile .group__list .group__item .group__link {
  text-decoration: none;
  color: #714E7D;
}
@media screen and (max-width: 748px) {
  .block_container .feed_container .feed_container_side .profile .group__list .group__item {
    font-size: small;
    padding: 0px 15px;
    border-radius: 1rem;
  }
}
.block_container .feed_container .feed_container_side .profile .profile__p {
  color: #714E7D;
}
@media screen and (max-width: 748px) {
  .block_container .feed_container .feed_container_side .profile .profile__p {
    font-size: small;
    padding: 0px 15px;
  }
}
.block_container .feed_container .feed_container_side .profile .Join_Other_Groups {
  font-size: larger;
  color: #714E7D;
  text-decoration: none;
}
@media screen and (max-width: 748px) {
  .block_container .feed_container .feed_container_side .profile .Join_Other_Groups {
    font-size: small;
    padding: 0px 15px;
    border-radius: 1rem;
  }
}
.block_container .feed_container .feed_container_side .profile .Join_Other_Groups:hover {
  background-color: #714E7D;
  color: #e3cedd;
  border-radius: 1rem;
}
@media screen and (max-width: 748px) {
  .block_container .feed_container .feed_container_side .profile .Join_Other_Groups:hover {
    font-size: small;
    padding: 0px 15px;
    border-radius: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .block_container .feed_container .feed_container_side {
    min-height: auto;
    max-width: 20%;
  }
}
.block_container .feed_container_main_feed {
  z-index: 461;
  max-width: 73%;
  height: auto;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 70px;
  border: 3px solid #714E7D;
  background-color: #fff;
  overflow-y: scroll;
}
.block_container .feed_container_main_feed .main_feed__title {
  color: #714E7D;
  font-size: larger;
  padding-left: 40px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: 3px solid #714E7D;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.profile__link {
  background-color: #e3cedd;
  border-radius: 1rem;
  padding: 0 1rem;
  text-decoration: none;
}
@media screen and (max-width: 768pc) {
  .profile__link {
    font-size: small;
    border-radius: 1rem;
    padding: 0 0.5rem;
  }
}

.profile__link:hover {
  background-color: #714E7D;
  color: #e3cedd;
}

.profile__p {
  color: #714E7D;
  font-size: large;
}

.create__new {
  text-decoration: none;
  color: #714E7D;
  padding-bottom: 1rem;
  padding: 0 1rem;
  margin-bottom: 1rem;
  background-color: #e3cedd;
  text-align: center;
  border-radius: 1rem;
  font-size: larger;
}

h3 {
  color: #714E7D;
}/*# sourceMappingURL=style.css.map */